body {
    background-color: black;
    color: white;
}
h1 {
    color: yellow;
    font-size: 50px;
    text-transform: uppercase;
}
.h1{
    color: aqua;
    font-size: 32px;
    text-transform: lowercase;
}